h1 {
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}
.half-width{
    width: 40%;
    text-align: center;
    float: left;
    margin: 2.5%;
    padding: 2%;

}
.half-width img{
    width: 100%;
}
.small-title{
    font-family: 'Odibee Sans', cursive;
}
.hello{
    color: crimson;
}
.name-highlite{
    color: orange;
}
body{
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}